PORT=3001
DATABASE_PATH=./data/imoveis.sqlite

# Coordenadas manuais da LOAD Facility (opcional, mas necessárias para mapa e distância)
LOAD_LATITUDE=-20.826422092367583
LOAD_LONGITUDE=-49.39255542572019